!jobdir/.empty
!output/.empty
!ruedaerueda/media/media.empty
!ruedaerueda/staticfiles/static.empty
tags
.tags_swap
*.db
*.log
*.md
*.pid
*.pyc
*.sck
*.sqlite3
*.sqlite3-journal
*.sublime-*
*.todo
*.egg-info
*~
.bundle
.coverage
.DS_Store
.env
.noseids
.ruby-version
.vagrant
cover
scrapyd_build/*
jobdir/*
output/*
build/*
ilumi/cover/*
ilumi/media/*
ilumi/staticfiles/*
vendor
node_modules
decouple.py
